@model HotelBolivia_web_app.Models.Habitacion

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Habitacion</h4>
    <hr />

    <div class="row">
        <div class="col-sm-4">
            @if(Model.Foto != null)
            {
                <img src="~/fotos/@Model.Foto" class="img-thumbnail" width="150px" \>
            }
        </div>
        <div class="col-sm-8">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Numero)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Numero)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Foto)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Foto)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Habitaciones)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Habitaciones)
                </dd>
            </dl>
        </div>
    </div>

    
</div>
<div>
    <a asp-action="Index">Volver a la Lista</a>
</div>

<h3>Pago de las Habitaciones</h3>
<hr/>
@{
    ViewData["HabitacionId"] = Model.Id;
}
<partial name="~/Views/PagoAlquilers/Create.cshtml" model="new PagoAlquiler()" view-data="ViewData"></partial>